* {
	box-sizing: border-box;
	font-family: "Roboto Condensed", sans-serif;
}

p {
	font-style: normal;
	font-size: 20px;
}

.firstPart {
	text-align: center;
	margin-top: 100px;
	font-style: bold;
}

.searchForm {
	position: relative;
	display: inline-block;
}

small {
	font-size: 5px;
}

#register {
	width: 120px;
}

#wrap .popover {
	max-height: none;
	max-width: none;
	border: none;
	font-size: 15px;
	background-color: rgb(255, 255, 255);
	box-shadow: 5px 5px 15px #888888;
}

.navbarColor {
	background-color: #0b2239;
	height: 5spx;
}

.imageHoverClass:hover {
	transform: scale(1.1);
	transition: transform 0.5s;
}

.iconsHoverClass:hover {
	border: 1px solid black;
	border-radius: 5px;
}

.imageTranslateClass {
	background-color: rgb(247, 241, 241);
	border-radius: 6px;
}
.imageTranslateClass:hover {
	background-color: white;
	transform: translateY(-2.5%);
	transform: scale(1.01);
	transition: transform 0.5s;
	transition: box-shadow 1s;
	box-shadow: -15px 17px 27px -2px rgba(150, 150, 150, 0.71);
	-webkit-box-shadow: -15px 17px 27px -2px rgba(150, 150, 150, 0.71);
	-moz-box-shadow: -15px 17px 27px -2px rgba(150, 150, 150, 0.71);
}

aside {
	float: left;
	position: fixed;
	top: 40%;
	transition: all 0.4s;
	transform: scale(0.5);
	margin-left: -513px;
	z-index: 1;
}

.asideTranslatePadding {
	padding-top: 50px;
}

.asideTranslate {
	margin-left: -170px;
	transition: all 0.4s;
}

li:hover {
	background-color: rgba(235, 232, 226, 0.2);
}

.ratingHover:hover {
	background-color: rgba(235, 232, 226, 0.2);
}

.first-div {
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
	margin-top: 20px;
	/* transform: translate(26%, 0); */
	/* background-color: blue; */
}

.lightModeDarkModeBorderColor {
	border-radius: 5px;
}

.divStyling {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	border-radius: 15px;
}

.generalStyling {
	border: none;
	color: white;
	background-color: rgb(0, 0, 0, 0);
	width: 300px;
	padding: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: "Playfair Display", serif;
	font-size: 21px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.lightMode {
	border-top-left-radius: 5px;
	border-top-left-radius: 10px;
}
.darkMode {
	background-color: rgba(0, 0, 0, 0.025);
	color: white;
}

.lightModeToggle {
	background-color: #0b2239;
	border-radius: 15px;
}

.revLightModeToggle {
	transform: translate(0%, 0);
}

.darkModeToggle {
	/* background-color: #0b2239; */

	transition: text 0.009s;
	transition: all 0.5s;
}

.transitionDarkMode1 {
	background-color: #0b2239;
	transform: translate(100%, 0);
	transition: text 0.009s;
	transition: all 0.5s;
}
.transitionDarkMode2 {
	transform: translate(-100%, 0);
}

.revDarkModeToggle {
	transform: translate(100%, 0);
}

.transitionLightMode1 {
	background-color: #0b2239;
	transform: translate(0%, 0);
	transition: text 0.009s;
	transition: all 0.5s;
}

.darkModeEffect {
	transition: 1s ease;
	background-color: rgba(0, 0, 0, 0.95);
	color: white;
}

.block {
	display: flex;
}
.search-bar {
	padding-left: 250px;
	padding-right: 250px;
}
.search-section {
	width: 50%;
}
.contributor-section {
	display: flex;
	border-radius: 0.7rem;
}
.bottom {
	display: flex;
	/* background-color: red; */
}
@media (max-width: 768px) {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		outline: none;
		border: none;
	}
	html {
		/* transform: translateX(3%); */
		margin: 0;
		padding: 0;
		min-width: 100%;
	}
	body {
		margin: 0;
		padding: 0;
	}
	.mobile-none {
		display: none;
		visibility: hidden;
	}
	.firstPart {
		/* background-color: blue; */
		padding: 0px;
	}
	.hero-title-mobile {
		min-width: 100%;
		/* background-color: red; */
		padding: 1rem;
	}
	.hero-text {
		min-width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}
	.hero-title-section {
		margin-top: -1rem;
	}
	.search-section {
		/* background-color: green; */
		/* transform: translateX(13%); */
		/* padding: 20px; */
		/* margin-left: 10rem; */
	}
	.top-searches {
		margin-top: 1rem;
	}
	.search-bar {
		padding-left: 0;
		padding-right: 0;
	}

	.block {
		display: block;
	}
	.text {
		max-width: 100%;
	}
	.element {
		margin-top: 15%;
		transform: translateX(-13%);
	}
	.translate-left {
		transform: translateX(-4%);
		/* margin-top: 5rem; */
	}
	.translate-left2 {
		transform: translateX(-8.5%);
	}
	.translate-sm {
		transform: translateX(1%);
	}
	.navbarColor {
	}
	.cover-width {
		min-width: 100%;
	}
	.contributor-section {
		display: block;
		min-width: 100%;
	}
	.bottom {
		display: block;
		/* background-color: red; */
	}
	.first {
		margin-bottom: 1rem;
	}
	.second {
		display: block;
	}
	.font-size-mobile {
		font-size: 14px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
